.vscode/
data/
models/
backup/
__pycache__/
*.pyc

notebooks/era5
./notebooks/copernicus

src/spatiotemporal_builder/features
src/spatiotemporal_builder/target
src/spatiotemporal_builder/websirenes_keys
src/spatiotemporal_builder/output_dataset.nc

src/spatiotemporal_builder/inmet_keys

notebooks/alertario/alertario_rain_gauge
notebooks/alertario/alertario_weather_station
notebooks/alertario/*.parquet

notebooks/websirenes/private
notebooks/websirenes/websirenes_defesa_civil/
notebooks/websirenes/*.parquet

src/__pycache__/globals.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-38.pyc
src/__pycache__/util.cpython-310.pyc
src/utils/__pycache__/near_stations.cpython-38.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/globals.cpython-310.pyc
src/__pycache__/util.cpython-310.pyc
src/__pycache__/goes16_utils.cpython-310.pyc
